@using E_Commerce_C__ASP.NET.Models
@model IEnumerable<Produto>

@{
    ViewData["Tittle"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Produtos </h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-info">&nbsp;Novo Produto</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(p => p.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.TipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Tag)
            </th>
            <th />
            <th />
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Preco</td>
                <td>@item.Cor</td>
                <td>@item.Disponivel</td>
                <td>@item.TipoProduto.TipoProduto</td>
                <td>@item.Tag.TagNome</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>
@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]';
            if (save) {
                alertify.success(save);
            }

            var edit = '@TempData["edit"]';
            if (edit) {
                alertify.success(edit);
            }

            var del = '@TempData["delete"]';
            if (del) {
                alertify.error(del);
            }
        });
    </script>
}

