@using E_Commerce_C__ASP.NET.Models
@model IEnumerable<SpecialTag>

@{
    ViewData["Tittle"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2>Lista de Tags</h2>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Tags</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-info">&nbsp;Nova Tag</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression: c => c.TagNome)
            </th>
            <th />
            <th />
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TagNome</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]';
            if (save) {
                alertify.success(save);
            }

            var edit = '@TempData["edit"]';
            if (edit) {
                alertify.success(edit);
            }

            var del = '@TempData["delete"]';
            if (del) {
                alertify.error(del);
            }
        });
    </script>
}
