@using E_Commerce_C__ASP.NET.Models
@model Pedido

@{
    ViewData["Title"] = "Checkout";
    var stripePublishableKey = ViewBag.StripePublishableKey as string;
}

<h1>Finalizar Compra</h1>
<div class="container">
    <div class="row">
        <!-- Lado Esquerdo: Dados do Cliente -->
        <div class="col-md-6">
            <form asp-action="FinalizarPedido" asp-controller="PedidosCliente" asp-area="Cliente" method="post">
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                @if (Model.ItensPedido != null && Model.ItensPedido.Any())
                {
                    // Utiliza um contador manual para os índices
                    int index = 0;
                    foreach (var item in Model.ItensPedido)
                    {
                        <input type="hidden" name="items[@index].ProdutoId" value="@item.ProdutoId" />
                        <input type="hidden" name="items[@index].ProdutoId" value="@item.Produto" />
                        <input type="hidden" name="items[@index].Preco" value="@item.Preco" />
                        <input type="hidden" name="items[@index].Quantidade" value="@item.Quantidade" />
                        index++;
                    }
                }
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" id="Nome" name="Nome" required />
                </div>
                <div class="form-group">
                    <label for="NumTel">Número de Telefone</label>
                    <input type="text" class="form-control" id="NumTel" name="NumTel" required />
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required />
                </div>
                <div class="form-group">
                    <label for="Morada">Morada</label>
                    <input type="text" class="form-control" id="Morada" name="Morada" required />
                </div>
                <div class="form-group">
                    <label for="codigoPost">Código de Postal</label>
                    <input type="text" class="form-control" id="codigoPost" name="codigoPost" required maxlength="8" placeholder="1234-567" oninput="formatCodigoPostal(this)" />
                </div>
                <div class="form-group">
                    <label for="Localidade">Localidade</label>
                    <input type="text" class="form-control" id="Localidade" name="Localidade" required />
                </div>
                <div class="form-group">
                    <label for="payment-method">Escolha o método de pagamento</label>
                    <select class="form-control" id="payment-method" name="TipoPagamento" onchange="switchPaymentFields()">
                        <option value="stripe">Cartão de Crédito</option>
                       @*  <option value="mbway">MB WAY</option>
                        <option value="referencia">Entidade e Referência</option> *@
                    </select>
                </div>

               
                <button type="submit" class="btn btn-success">Finalizar Pedido</button>
            </form>
        </div>

        <!-- Lado Direito: Produtos do Pedido -->
        <div class="col-md-6">
            <h2>Produtos do Pedido</h2>
            @if (Model.ItensPedido != null && Model.ItensPedido.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Tipo de produto</th>
                            <th>Cor</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItensPedido)
                        {
                            var produto = item.Produto;

                            if (produto != null)
                            {
                                <tr>
                                    <td>
                                        <img src="~/@produto.Imagem" width="100px" height="75px" />
                                    </td>
                                    <td>@produto.Nome</td>
                                    <td>@item.Preco.ToString("C")</td>
                                    <td>@produto.Tag.TagNome</td>
                                    <td>@produto.Cor</td>
                                    <td>@item.Quantidade</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <h4>Total: @Model.ItensPedido.Sum(item => item.Preco * item.Quantidade).ToString("C")</h4>
            }
            else
            {
                <p>Nenhum produto no pedido.</p>
            }
        </div>
    </div>
</div>

